<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Climate Portal</title>
  <link href="https://bootswatch.com/darkly/bootstrap.min.css" rel="stylesheet">
  <link href="../static/awesome-bootstrap-checkbox.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.0/bootstrap3-typeahead.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
  <style>
    .map {
      width: 100%;
      height: 80vh;
      margin-bottom: 1.5em;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
    }

    .card {
      min-width: 180px;
      border-radius: 6px;
      height: 80px;
      margin: 0rem 1.2rem 3rem 0rem;
      -webkit-box-shadow: 0px 13px 21px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 13px 21px -1px rgba(0,0,0,0.75);
      box-shadow: 0px 13px 21px -1px rgba(0,0,0,0.75);
      background-color: rgba(240, 250, 240, 0.8);
      color: #000;
    }

    .card:hover {
      cursor: pointer;
    }
    .card h1 {
      text-align: center;
      margin: 0.8rem;
      text-transform: uppercase;
      font-size: 2.2rem;
    }
    .placename {
      text-transform: uppercase;
    }

    .loading {
      color: #ccc;
    }

    .bar {
      fill: steelblue;
    }

    .bar:hover {
      fill: #F39C12;
    }

    .axis {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #ccc;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }
    .axis text {
      pointer-events: none;
      fill: #ccc;
      font-weight: bold;
      stroke: none;
      word-spacing: 4;
    }

    .uppercase {
      text-transform: uppercase;
    }

    .glyphicon-2x {
      font-size: 2em;
      margin-top: 14px;
    }
    .glyphicon-2x:hover {
      cursor: pointer;
      color: #F39C12;
    }

    .line {
      fill: none;
      stroke: #CCC;
      stroke-width: 1.8px;
      stroke-dasharray: 5, 5;
    }

    h1 small {
      color: #333;
    }
    .gotocards {
      cursor: pointer;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Climate Portal</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav" id="typeahead-form-container">

          <script type="text/html" id="typeahead-form">
            <% _.each(levels, function(i) { %>
              <li class="navbar-form">
                <div class="form-group">
                  <input type="text" id="typeahead-<%=i%>" class="form-control" placeholder="<%=i%>">
                </div>
              </li>
            <% }) %>
          </script>

        </ul>

        <ul class="nav navbar-nav navbar-right">
        <li style="margin-top: 9px;margin-right: 5px;" class="village-dropdown">
          <script type="text/html" class="villagetemplate">
            <select class="selectpicker" data-live-search="true" title="Select Village" data-style="btn-warning">
              <% _.each(village, function(v, k){ %>
                <option data-content="<%= _.values(v)[1]%>" data-tokens="<%= _.values(v)[1]%>"><%= _.values(v)[1]%>-<%= _.values(v)[0]%></option>
              <% }) %>
            </select>
          </script>
        </li>
        <!-- <li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" id="typeahead-col" class="form-control" placeholder="Search">
            </div>
          </form>
        </li> -->
        <li>
          <span class="glyphicon glyphicon-cloud-download glyphicon-2x download-data"></span>
        </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <div class="container-fluid">
    <div class="col-md-6">
      <div id="map" class="map"></div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-body">
          <span class="placename">Rainfall metrics</span>
          <div class="pull-right">
            <span class="backtocards" style="display:none;">
              <label class="label label-info gotocards">Back to Cards</label>
            </span>
            <div class="radio radio-inline metricradio">
              <input type="radio" id="rainfall" value="rainfall" name="radioInline" checked="True">
              <label for="rainfall">Rainfall</label>
            </div>
            <div class="radio radio-inline metricradio">
              <input type="radio" id="temperature" value="temperature" name="radioInline">
              <label for="temperature">Temperature</label>
            </div>
          </div>
        </div>
      </div>
      <div class="cards">
        <script type="text/html" class="metricTemplate">
          <i style="color: #00A2E8">Note: Below values are a 30 years average of annual values 1984 to 2013</i>
          <% _metric = $('input[type="radio"]:checked').val() %>
          <% _.each(values, function(v, k) { %>
            <% if(ref[_metric].indexOf(k) > -1){ %>
              <div class="card" data-card-id="<%= encodeURIComponent(k) %>" data-metric-name="<%= k %>">
                <h1><small><%= fullnameref[k] %></small><br/><%= +v.toFixed(2) %></h1>
              </div>
            <% } %>
          <% }) %>
        </script>
      </div>
    </div>
  </div>
  <script>

    var fullnameref = {
      'dry10_num': 'Dry spells (sow, <10mm, 14d) ',
      'dry5_num': 'Dry spells (sow, <5mm, 7d)',
      'maxT40plus_num_sow': 'Hot days (sow, Max T >= 40C)',
      'maxT_mean_ann': 'Avg Max T (ann)',
      'maxT_mean_sow': 'Avg Max T (sow, Jun 1 - Oct 31)',
      'minT30plus_num_sow': 'Hot days (sow, Min T >= 30C)',
      'minT_mean_ann': 'Avg Min T (ann)',
      'minT_mean_sow': 'Avg Min T (sow, Jun 1 - Oct 31)',
      'rf_cumul_ann': 'Total Rainfall (ann)',
      'rf_cumul_sow': 'Total Rainfall (sow, Jun 1 - Oct 31)',
      'rf_num_ann': 'Rainy days (ann, >=0.5mm p.d.)',
      'rf_num_sow': 'Rainy days (sow, >=0.5mm p.d.)',
      'wet100_num': 'Wet spells (sow, >=100mm, 3d)',
      'wet30_num': 'Wet spells (sow, >=30mm, 3d)'
    }

    var placeltlng = {};
    d3.csv("static/latlng.csv", function(stdata){
      placeltlng.state = stdata;
    })
    d3.csv("static/distlatlng.csv", function(dtdata){
      placeltlng.district = dtdata;
    })

    var tempdist, dist, curdata, hierarchy;
    var _state;
    //Store Template as variable to re-use it.
    var _metric_tmplt = $("script.metricTemplate").html()

    // Store Village dropdown template in variable
    var _village_tmplt = $("script.villagetemplate").html()

    var metricref = {
        "temperature": ["maxT40plus_num_sow", "maxT_mean_ann", "maxT_mean_sow", "minT30plus_num_sow", "minT_mean_ann", "minT_mean_sow"],
        "rainfall": ["dry10_num", "dry5_num", "rf_cumul_ann", "rf_cumul_sow", "rf_num_ann", "rf_num_sow", "wet100_num", "wet30_num"]
      }

    $('.download-data').on('click', function(){
      if (tempdist === undefined) {
        alert("Please select the state or district from map")
      } else {
        window.location.assign(`/download/${hierarchy}?id=${tempdist}`);
      }
    })

    var map = L.map('map').setView([24, 82], 5);
    var Esri_NatGeoWorldMap = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
      attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
      maxZoom: 16
    }).addTo(map);
    $.getJSON("{{ url_for('static', filename='state.topo.json') }}", function(topo) {
    var geojson = topojson.feature(topo, topo.objects[Object.keys(topo.objects)[0]]);
      L.geoJson(geojson, {
        style: styleFeature,
        onEachFeature: onEachFeature
      }).addTo(map);
    });

    function styleFeature(feature) {
      return {
        color: 'rgba(0, 0, 0, 0.4)',
        weight: '2px'
      }
    }

    function onEachFeature(feature, layer) {
      layer.on({
        // mouseover: function(e){ customTooltip(feature, layer); },
        // mouseout: mouseOut,
        click: function(e) {
          // Reset all search val to null when click on any state on map
          $('#typeahead-state').val('')
          $('#typeahead-district').typeahead('destroy')
          $('#typeahead-district').val('')
          $('#typeahead-subdistrict').typeahead('destroy')
          $('#typeahead-subdistrict').val('')
          $('.placename').text(feature.properties.stat_nm)
          // templatise state here
          // TODO
          dist = feature.properties[Object.keys(feature.properties)[0]]
          var stateid = feature.properties[Object.keys(feature.properties)[1]]
          tempdist = stateid;
          _state = true;
          $('.placename').text('Loading...')
          $('.placename').addClass('loading')
          $.get(`state?id=${stateid}`, function(data) {
            hierarchy = 'state'
            templatise(_metric_tmplt, {values: data, ref: metricref, fullnameref: fullnameref}, '.cards', stateid)
            $('.placename').text("State - " + dist)
            $('.placename').removeClass('loading')
          });
          drawDistrict(feature.properties.stat_nm, feature.properties.state_d, e.latlng.lat, e.latlng.lng);
        },
      });
    }

    function templatise(source, data, target, districtid){
      curdata = data;
      template = _.template(source);
      resultingHTML = template(data);
      $(target).html(resultingHTML);
      $('.card').on('click', function(){
        $('.card').hide();
        $('.chart').show();
        var cardi = $(this).attr('data-card-id');
        var metricname = $(this).attr('data-metric-name');
        d3.json(`${hierarchy}?id=${districtid}&metric=${cardi}`, function(error, data) {
          replay(data.data, '.cards', metricname);
        });
      });
    }

    function villagetemplatise(src, tgt, dict){
      $('.village-dropdown').show()
      var vtemplate = _.template(src);
      var resultingDrops = vtemplate(dict);
      $(tgt).html(resultingDrops);
      $('.selectpicker').selectpicker();

      $('.selectpicker').on('changed.bs.select', function (e) {
        var selected_village = $('.selectpicker').selectpicker('val');
        var villageid = selected_village.split('-')[1];
        tempdist = villageid;
        $.get(`/village?id=${villageid}`, function(data) {
          hierarchy = 'village'
          $('.placename').text("Village - " + selected_village.split('-')[0])
          $('.placename').removeClass('loading')
          templatise(_metric_tmplt, {values: data, ref: metricref, fullnameref: fullnameref}, '.cards', villageid)
        })
      });
    }

    function unhightlightLayers(map){
      map.eachLayer(function (f) {
        if (f._url === undefined) {
          f.setStyle({
            color: 'rgba(0, 0, 0, 0.6)'
          })
        }
      });
    }

    function hightlightLayer(layer){
      layer.setStyle({
        weight: '1.5px',
        color: '#F39C12',
        fillOpacity: 0.4
      });
    }

    var prevSelectedState;
    var prevSelectedDist;

    function drawDistrict(placename, placeid, lat, lng) {
      _values = {}
      _values[placename] = ''

      if (prevSelectedState !== undefined) {
        prevSelectedState.clearLayers()
      }

      if (prevSelectedDist !== undefined) {
        prevSelectedDist.clearLayers()
      }

      // reset all color of the layers
      unhightlightLayers(map)
      $('.village-dropdown').hide()

      // Draws a district level shapes for selected State.
      map.setView([lat, lng], 6);
      $.getJSON("{{ url_for('static', filename='district.topo.json') }}", function(topo) {
        x = topo.objects[Object.keys(topo.objects)[0]];
        y = x["geometries"].map(function(d){ return d.properties.ST_CEN_CD == placeid ? d : false });
        y = y.filter(function(e){ return e });
        x.geometries = y;
        var geojson = topojson.feature(topo, x);
        var currState = L.geoJson(geojson, {
          style: function(feature) {
            return {
              color: 'rgba(0, 0, 0, 0.6)',
              weight: '1.5px',
              fillOpacity: '0.4'
            }
          },
          onEachFeature: function(feature, layer) {
            layer.on({
                click: function(e) {
                  $('.placename').text('Loading...')
                  $('.placename').addClass('loading')
                  $('.container-fluid').css('pointer-events','none');

                  $('#typeahead-district').val('')
                  $('#typeahead-subdistrict').typeahead('destroy')
                  $('#typeahead-subdistrict').val('')

                  // reset all color of the layers
                  unhightlightLayers(map)

                  // Hightlight selected layer
                  hightlightLayer(layer)

                  dist = feature.properties[Object.keys(feature.properties)[0]]
                  var districtid = feature.properties[Object.keys(feature.properties)[3]]
                  tempdist = districtid;
                  _state = false;
                  drawsubDistrict('placename', districtid, e.latlng.lat, e.latlng.lng)
                  $.get(`district?id=${districtid}`, function(data) {
                    hierarchy = 'district'
                    templatise(_metric_tmplt, {values: data, ref: metricref, fullnameref: fullnameref}, '.cards', districtid)
                    $('.placename').text("District - " + dist)
                    $('.placename').removeClass('loading')
                  });
                }
            });
          }
        }).addTo(map);
        prevSelectedState = currState;
      });
    }


  function type(d) {
    // + coerces to a Number from a String (or anything)
    d.Value = +d.Value;
    return d;
  }

  function replay(data, placeholder, metricname) {
    $('.tooltip').hide()
    $('.metricradio').hide()
    $('.backtocards').show()
    // Mike Bostock "margin conventions"
    var margin = {top: 40, right: 20, bottom: 60, left: 40},
        width = 660 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);

    var x2 = d3.scale.ordinal()
        .rangeBands([0, width], 0);


    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x);

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(10);

    var svg = d3.select(placeholder).append("svg")
        .attr("preserveAspectRatio", "xMidYMid meet")
        .attr("viewBox", "0 0 " + (width + margin.left + margin.right) + " " + (height + margin.top + margin.bottom))
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")");

    svg.append("g")
        .attr("class", "y axis")
      .append("text") // just for the title (ticks are automatic)
        // .attr("transform", "rotate(-90)") // rotate the text!
        .attr("y", -20)
        .attr("x", 5)
        .attr("dy", ".71em")
        .style("text-anchor", "start")
        .text(metricname)
        .attr("class", "uppercase");

    x2.domain(data.map(function(d) { return d['year']; }));

    // var slices = [];
    // for (var i = 0; i < data.length; i++) {
    //   slices.push(data.slice(0, i+1));
    // }
    // slices.forEach(function(slice, index){
    //   setTimeout(function(){
    //     draw(svg, slice, 'Date', 'Value', x, y, xAxis, yAxis, width, height);
    //   }, index * 300);
    // });

    draw(svg, data, 'year', metricname, x, y, xAxis, yAxis, width, height);

    var dataMean = d3.mean(data, function(d) { return d[metricname]; });

    var line = d3.svg.line()
        .x(function(d, i) {
          return x2(d['year']) + i; })
        .y(function(d, i) { return y(dataMean); });

    svg.append("path")
          .datum(data)
          .attr("class", "line")
          .attr("d", line);
  }

  function draw(svg, data, xcol, ycol, x, y,xAxis, yAxis, width, height) {
    // measure the domain (for x, unique letters) (for y [0,maxFrequency])
    // now the scales are finished and usable
    x.domain(data.map(function(d) { return d[xcol]; }));
    y.domain([0, d3.max(data, function(d) { return d[ycol]; })]);

    // another g element, this time to move the origin to the bottom of the svg element
    // someSelection.call(thing) is roughly equivalent to thing(someSelection[i])
    //   for everything in the selection\
    // the end result is g populated with text and lines!
    svg.select('.x.axis')
       .transition()
       .duration(300)
       .call(xAxis)
      .selectAll("text")
          .attr("y", 0)
          .attr("x", 9)
          .attr("dy", ".35em")
          .attr("transform", "rotate(90)")
          .style("text-anchor", "start");

    // same for yAxis but with more transform and a title
    svg.select(".y.axis")
        .transition()
        .duration(300)
        .call(yAxis);
      // .selectAll("line")
          // .attr("x2", function(e){ return e == 8 ? width : -6 });

    // THIS IS THE ACTUAL WORK!
    var bars = svg.selectAll(".bar").data(data, function(d) { return d[xcol]; }) // (data) is an array/iterable thing, second argument is an ID generator function

    bars.exit()
      .transition()
        .duration(300)
      .attr("y", y(0))
      .attr("height", height - y(0))
      .style('fill-opacity', 1e-6)
      .remove();

    // data that needs DOM = enter() (a set/selection, not an event!)
    bars.enter().append("rect")
      .attr("class", "bar")
      .attr("y", y(0))
      .attr("title", function(d){ return `${d[xcol]} <br> ${d[ycol].toFixed(2)}`; })
      .attr("height", height - y(0));

    // the "UPDATE" set:
    bars.transition().duration(300).attr("x", function(d) { return x(d[xcol]); }) // (d) is one item from the data array, x is the scale object from above
      .attr("width", x.rangeBand()) // constant, so no callback function(d) here
      .attr("y", function(d) { return y(d[ycol]); })
      .attr("height", function(d) { return height - y(d[ycol]); }); // flip the height, because y's domain is bottom up, but SVG renders top down

  }

  d3.csv('static/latlng.csv', function(latlng){
    $.getJSON('static/district.topo.json', function(topo){
      var districts = topojson.feature(topo, topo.objects[Object.keys(topo.objects)[0]]).features
      districts = districts.map(function(d){ return d.properties })
      districts = districts.map(function(d){
        return {'name': d.DISTRICT, 'code': d.censuscode, 'state': d.ST_CEN_CD }
      })
      // _searchproperty(districts, latlng)
    })
  })

  function _searchproperty(splaces, latlng){
    $("#typeahead-col").typeahead({
      source:splaces,
      updater:function (item) {
        var temp = latlng.filter(function(d){ return d.stcode == item.state })[0]
        drawDistrict(item.statename, item.state, temp.lat, temp.lng)
        $('.placename').text('Loading...')
        $('.placename').addClass('loading')
        dist = item.name
        var districtid = item.code
        tempdist = districtid
        _state = false
        $('.placename').attr('data-district-id', districtid)
        $.get(`district?id=${districtid}`, function(data) {
          hierarchy = 'district'
          templatise(_metric_tmplt, {values: data, ref: metricref, fullnameref: fullnameref}, '.cards', districtid)
          $('.placename').text("District - " + dist)
          $('.placename').removeClass('loading')
        });
        return item;
      }
    });
  }

  $('input[type="radio"]').change(function(){
    templatise(_metric_tmplt, curdata, '.cards', tempdist)
  })

  function hightlightLayersub(layer){
    layer.setStyle({
      weight: '1.5px',
      color: '#FF0000',
      fillOpacity: 0.4
    });
  }

  function drawsubDistrict(placename, placeid, lat, lng) {
    if (prevSelectedDist !== undefined) {
      prevSelectedDist.clearLayers()
    }
    $('.village-dropdown').hide()
    // Draws a district level shapes for selected State.
    map.setView([lat, lng], 8);
    $.getJSON(`/subdistmap?code=${placeid}`, function(topo) {
      var geojson = topojson.feature(topo, topo.objects[Object.keys(topo.objects)]);
      var currDist = L.geoJson(geojson, {
        style: function(feature) {
          return {
            color: 'rgba(255, 255, 0, 0.6)',
            weight: '2px',
            fillOpacity: '0.5'
          }
        },
        onEachFeature: function(feature, layer) {
          layer.on({
              click: function(e) {
                $('#typeahead-subdistrict').val('')
                unhightlightLayers(map)
                hightlightLayersub(layer)
                $('.placename').text('Loading...')
                $('.placename').addClass('loading')

                subdist = feature.properties['NAME']
                var subdistrictid = feature.properties['subdist_co']
                tempdist = subdistrictid;
                _state = false;
                $.get(`subdistrict?id=${subdistrictid}`, function(data) {
                  hierarchy = 'subdistrict'
                  templatise(_metric_tmplt, {values: data, ref: metricref, fullnameref: fullnameref}, '.cards', subdistrictid)
                  $('.placename').text("Subdistrict - " + subdist)
                  $('.placename').removeClass('loading')
                });
                $.getJSON(`lookup?for=subdistrict&id=${subdistrictid}&lookup=village`, function(res){
                  villagetemplatise(_village_tmplt, '.village-dropdown', res)
                })
              }
            });
          }
      }).addTo(map);
      $('.container-fluid').css('pointer-events','all');
      prevSelectedDist = currDist;
    });
  }

  $('.backtocards').on('click', function(){
    $('.metricradio').show()
    $('.backtocards').hide()
    $("input:radio:first").prop("checked", false).trigger("click");
  })

  $('body')
    .tooltip({
      selector: '[title]',
      container: 'body',
      html: true
    })

  // Render the dropdown search thing
  var levels = ['state', 'district', 'subdistrict'];
  var template = _.template($("#typeahead-form").html());
  $("#typeahead-form-container").html(template({levels: levels}));


  var h = {
    'state': 'district',
    'district': 'subdistrict',
    'subdistrict': 'village'
  }

  // Really clever code below
  // Like really.
  // It is an amazing piece of code. Look at it! Just look at it!
  function update_search(g, f, i) {
    let uri = g === 'state' ? `?get=state`: `?get=${g}&for=${f}&id=${i}`
    hierarchy = g
    d3.json('http://village.indiarainfedportal.org/locations' + uri, function(data) {
      $(`#typeahead-${g}`).typeahead('destroy')
      $(`#typeahead-${g}`).typeahead({
        source: data,
        displayText: function(item) { return item[`${g}_name`] },
        updater: function(item) {
          if (g === 'subdistrict') {
            unhightlightLayers(map)
            prevSelectedDist.eachLayer(function(l){
              if(l.feature.properties.subdist_co == item[`${g}_code`]){
                hightlightLayersub(l)
              }
            })
            $.get(`${g}?id=` + item[`${g}_code`], function(data) {
              templatise(_metric_tmplt, {values: data, ref: metricref, fullnameref: fullnameref}, '.cards', item[`${g}_code`])
              $('.placename').text(`${g} - ` + item[`${g}_name`])
              $('.placename').removeClass('loading')
            });
            $.getJSON(`lookup?for=subdistrict&id=` + item[`${g}_code`] + `&lookup=village`, function(res) {
              villagetemplatise(_village_tmplt, '.village-dropdown', res)
            })
          }
          else {
            var iobjs = Object.keys(item)
            if (iobjs.indexOf("state_code") > -1) {
              var stltlng = placeltlng.state.filter(function(d){
                return d.stcode == item[`${g}_code`];
              })[0]
              drawDistrict(stltlng.statename, stltlng.stcode, stltlng.lat, stltlng.lng);
            } else {
              $('.placename').text('Loading...')
              $('.placename').addClass('loading')
              $('.container-fluid').css('pointer-events','none');
              var dtltlng = placeltlng.district.filter(function(d){
                return d.censuscode == item[`${g}_code`];
              })[0]
              drawsubDistrict('placename', dtltlng.censuscode, dtltlng.lat, dtltlng.long)
            }
            $.get(`${g}?id=` + item[`${g}_code`], function(data) {
              templatise(_metric_tmplt, {values: data, ref: metricref, fullnameref: fullnameref}, '.cards', item[`${g}_code`])
              $('.placename').text(`${g} - ` + item[`${g}_name`])
              $('.placename').removeClass('loading')
            });
            update_search(h[g], g, item[`${g}_code`])
          }
          return item;
        }
      })
    })
  }

  update_search('state')
  </script>
</body>
</html>